@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Righteous&family=Roboto+Condensed:wght@700&display=swap');

* {
  padding: 0;
  margin: 0;
}

header {
  width: 90%;
  margin: auto;
}

header div {
  background-image: url('images/cover.png');
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 100%, 50% 100%, 0% 50%);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

nav ul {
  display: flex;
  justify-content: right;
  align-items: center;
}

nav h1 {
  font-family: 'Righteous', sans-serif;
  font-size: xx-large;
}

nav li {
  font-family: 'Roboto Condensed', sans-serif;
  list-style: none;
  margin-left: 13px;
  padding: 5px 15px;
}

nav li:hover {
  background-color: #FFF4CC;
  border-radius: 25px;
  cursor: pointer;
}